body {
    display: flex;
    flex-direction: column;
    background-color: purple;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.hidden.start-screen{
    display: none;
}

.hidden.game {
    display: none;
}

.start-screen {
    color: pink;
    display: flex;
    flex-direction: column;
}

.start-screen h1 {
    font-size: 64px;
    font-family: 'Times New Roman', Times, serif;
}

.start-screen button {
    font-size: 36px;
    border-radius: 12px;
    background-color: pink;
    color: white;
    margin: 0px 50px;
}

.game {
    background-color: pink;
}